@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');

.navbar-brand.btn:hover{
    outline: #fff;
}

.owl-nav .owl-prev {
    position: absolute;
    top: 35%;
    left: 0;
}

.owl-nav .owl-next {
    position: absolute;
    top: 35%;
    right: 0;
}

.img {
    width: 10px;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: none;
    outline: none !important;
    opacity: 1;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    outline: none;
    opacity: 0.6;
    transition: all .5s ease;
}